body {
	background-color: #f2f2f2;
}

.quotazioni {
	padding: 8px !important;
	height: 104px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.titoloquotazioni {
	color: #eee;
}

.numeroquotazioni {
	width: 116px;
	margin-left: -7px;
	margin-top: 7px;
}

.valorequotazione {
	font-size: 24px;
	color: #bdbdbd;
	font-weight: bold
}

.valorequotazioneok {
	font-size: 24px;
	color: #eee;
	font-weight: bold
}

.dropdown-content {
	top: 64px !important;
}

.loghi_piccoli {
	padding: 6px 2px 2px 2px;
	border-radius: 5px;
	margin-right: 4px;
}

.loghi_piccoli:hover {
	transition: background-color .3s;
	background-color: rgba(0,0,0,0.1) !important;
}

.ruolo {
	padding: 1px 6px 2px 6px;
	color: white;
	border-radius: 10px;
}

hr {
	border: 0; 
	height: 1px;
	background: #beb0b0
}

.campettohome {
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

td.numero {
	background-color: #ffffff;
	background-attachment: scroll;
	background-image: url("../immagini/nr.gif");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 29px;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
	color: #333333;
}

td.portiere {
	background-color: #ffffff;
	background-attachment: scroll;
	background-image: url("../immagini/nr_p.gif");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 29px;
	text-align: center;
	color: #eeeeee;
	font-size: 9px;
	font-weight: bold;
}

button, input, optgroup, select, textarea {
	font-family: Roboto;
}

.evidenziato {
	border-radius: 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	margin-right: 0;
}


a.info:hover .infobox {
	text-decoration: none;
	font-weight: normal;
	display: block;
	position: absolute;
	top: 0;
	left: 100px;
	width: 300px;
	height: auto;
	border: 1px solid #cccccc;
	background: #f4f4f4 url(infob.gif) no-repeat bottom right;
	color: #000000;
	text-align: justify;
	font-size: 0.8em;
	padding: 10px;
}

a.info {
	text-decoration: none;
	position: relative;
}
a.info span {
	display: none;
}
a.info:hover {
	cursor: default;
}
.ruolotab {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.5px;
	text-align: center;
}
.numtab {
	font-size: 18px;
	padding-bottom: 15px;
	padding-top: 10px;
	opacity: 0.75;
	-moz-opacity: 0.75;
	text-align: center;
}

.breadcrumbs {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.breadcrumbs-item + .breadcrumbs-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #fff;
	content: "/";
}

.breadcrumbs-item + .breadcrumbs-item {
	padding-left: .5rem;
}

.row {
	margin-bottom: 0px;
}

.backsquadrenome {
	padding-top: 6px;
	text-align: left;
	color: white;
	padding-left: 10px;
	margin-top: 0;
}

.backsquadre {
	background-repeat:no-repeat; 
	background-size:100%; 
	border-radius:2px;
	height:54px;
}

.highcharts-title, .highcharts-credits {
	display: none;
}

.lever {
	margin: 0 10px !important
}

.switch label input[type="checkbox"]:checked + .portieri {
	background-color: #ffcc80 !important
}
.switch label input[type="checkbox"]:checked + .portieri::after {
	background-color: #e65100 !important;
	content: "P" !important;
	color: white;
	font-weight: bold;
	text-align: center;
}
.switch label input[type="checkbox"]:checked + .difensori {
	background-color: #9fa8da !important
}
.switch label input[type="checkbox"]:checked + .difensori::after {
	background-color: #1a237e !important;
	content: "D" !important;
	color: white;
	font-weight: bold;
	text-align: center;
}
.switch label input[type="checkbox"]:checked + .centrocampisti {
	background-color: #a5d6a7 !important
}
.switch label input[type="checkbox"]:checked + .centrocampisti::after {
	background-color: #1b5e20 !important;
	content: "C" !important;
	color: white;
	font-weight: bold;
	text-align: center;
}
.switch label input[type="checkbox"]:checked + .attaccanti {
	background-color: #ef9a9a  !important
}
.switch label input[type="checkbox"]:checked + .attaccanti::after
{
	background-color: #b71c1c !important;
	content: "A" !important;
	color: white;
	font-weight: bold;
	text-align: center;
}
.portieri::after {
	content: "P" !important;
	font-weight: bold;
	text-align: center;
}
.difensori::after {
	content: "D" !important;
	font-weight: bold;
	text-align: center;
}
.centrocampisti::after {
	content: "C" !important;
	font-weight: bold;
	text-align: center;
}
.attaccanti::after {
	content: "A" !important;
	font-weight: bold;
	text-align: center;
}
.iconasquadra {
	border-radius: 12px;
	width: 16px;
	border: 0px;
	height: 16px;
	display: inline-block;
	background-position: center;
	vertical-align: sub;
	margin-right: 5px;
}
.creditirimasti {
	padding: 8px;
margin-top: -14px !important;
font-size: 18px;
text-align: center;
}

.creditirimasti > small {
	display: block;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-weight: 400;
	text-transform: uppercase;
	white-space: normal;
}

.materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}
.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}
.materialert.info{
    background-color: #039be5;
    color: #fff;
}
.materialert.success{
    background-color: #43a047;
    color: #fff;
}
.materialert.error{
    background-color: #c62828;
    color: #fff;
}
.materialert.danger{
    background-color: #c62828;
    color: #fff;
}
.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}
.triangolog {
	position: relative;
	width: auto;
	height: auto;
}
.triangolog:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #ffca28 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}
.triangolor {
	position: relative;
	width: auto;
	height: auto;
}
.triangolor:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #c00 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}